div {
  background-color: blue !important;
}

.modal-inner-container {
  box-shadow: 0 8px 60px 0 rgba(103,151,255,.15), 0 12px 90px 0 rgba(103,151,255,.15);
  border-radius: $radius-8;
}

#main-outlet {
  margin-top: 30px;
  margin-bottom: 30px;
  background: green;
  box-shadow: 0 8px 60px 0 rgba(103,151,255,.15), 0 12px 90px 0 rgba(103,151,255,.15);
  border-radius: 10px;
}